<div aria-labelledby='teasersModalLabel' class='modal fade' id='newLevelModal' role='dialog' style='display:none' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-body'>
        <div class='well'>
          Tuyệt! Bạn đã lên cấp
        </div>
        <div style='text-align: center'>
          <h3>{{new_level.position}}</h3>
        </div>
      </div>
      <div class='modal-footer' style='text-align: center'>
        <button class='btn btn-primary' ng-click='close_modal()' x-track-action="Close Level" type='button'>Đóng</button>
      </div>
    </div>
  </div>
</div>
