.col-xs-12.main_content

	.well
		%h4{style:'line-height: 1.5em'}    
			%strong= readable_domain_name
			được tạo ra với sứ mệnh giúp người học nhanh chóng đạt được khả năng giao tiếp tiếng Anh một cách hoàn hảo. Với encake.com,
			bạn không chỉ nói trôi chảy, mà bạn còn nói chuẩn (ngữ pháp).
	
	%div
	
		%h4
			%strong Các trở ngại chính trong việc học tiếng anh chính là:  
		
		%div{style:'padding-left:20px'}
			%p 1. Khó nhớ từ vựng và ngữ pháp      
			%p 2. Không có môi trường để giao tiếp      
			%p 3. Không có hoặc ít có hứng thú học tập
	
	%div
	
		%h4
			%strong
				= readable_domain_name
				giải quyết các vấn đề trên như thế nào?
		
		%div{style:'padding-left:20px'}
		
			%h5
				%strong 1. Đối với vấn đề ghi nhớ
			
			%div{style:'padding-left:20px'}
			
				%p
					encake.com sử dụng giải thuật supermemo. Giải thuật supermemo đang được hàng trăm ngàn người trên
					thế giới sử dụng để nghi nhớ các thứ khó nhớ như tên dược phẩm, công thức hóa học..., encake.com mang nó đến với người
					học tiếng anh với mục tiêu giúp các bạn ghi nhớ từ vựng và ngữ pháp hiệu quả hơn.
				
				%p
					Vậy giải thuật supermemo hoạt động như thế nào? Theo nghiên cứu khoa học thì một người thông thường sẽ quên hơn một nửa số từ đã học được
					chỉ sau vài ngày đến vài tuần nếu như không được ôn lại. Tuy nhiên nếu một từ được ôn lập lại nhiều lần đến một ngưỡng nào đó thì sẽ rất
					khó quên. Như vậy mấu chốt của việc ghi nhớ từ vựng chính là ôn tập. Nhưng ôn tập như thế nào? Đó chính là chức năng của giải thuật
					supermemo. Giải thuật supermemo sẽ quyết định từ nào cần được ôn tại một thời điểm sao cho việc ghi nhớ đạt hiệu quả tối ưu.
				
				%p
					Bạn có thể tìm hiểu thêm về quá trình quên <a href='http://en.wikipedia.org/wiki/Forgetting_curve' target='_blank'>tại đây</a>.
					
				%p
					Bạn có thể tìm hiểu thêm về giải thuật supermemo <a href='http://www.supermemo.com/english/algsm11.htm' target='_blank'>tại đây</a>.
			 
			%h5
				%strong 2. Đối với vấn đề môi trường giao tiếp
			
			%div{style:'padding-left:20px'}
			
				%p
					Để cải thiện vấn đề này encake.com sử dụng phương pháp đọc thuộc lòng các mẫu câu. Việc
					đọc thuộc lòng các mẫu câu có tác dụng rất lớn trong việc cải thiện khả năng nói tiếng Anh. Thứ nhất nó giúp miệng của bạn quen với việc phát
					âm tiếng anh, thứ hai nó giúp hình thành các liên kết thần kinh cần thiết cho việc nói tiếng Anh lưu loát.
					
				%p  
					Hơn thế nữa, với encake.com, mỗi một mẫu câu đều gắn liền với một từ vựng và một điểm ngữ pháp. Việc đặt từ vựng vào trong một câu
					, tức là đặt vào trong ngữ cảnh, và học đọc thuộc lòng câu đó sẽ giúp cho việc ghi nhớ từ lâu hơn.
					
				%p 
					Như vậy việc đọc thuộc lòng câu sẽ giúp bạn đạt được đồng thời 4 lợi ích: giúp miệng bạn quen với việc phát âm tiếng Anh, giúp hình thành các
					liên kết thần kinh cần thiết để nói tiếng anh lưu loát, ghi nhớ từ vựng và cuối cùng là học cách sử dụng nhuần nhuyễn ngữ pháp.
					
			%h5
				%strong 3. Đối với vấn đề hứng thú học tập
			
			%div{style:'padding-left:20px'}
			
				%p
					Để tăng hứng thú đối với việc học tập, encake.com khuyến khích sự tương tác giữa các học viên với nhau. Hiện tại, encake.com
					khuyến khích sự thi đua học tập bằng cách xếp hạng các học viên với bạn bè của họ. Trong tương lai encake.com sẽ thêm vào nhiều hơn nữa
					các chức năng để tăng cường sự tương tác giữa các học viên.
		
		%h4 
			%strong
				= readable_domain_name
				làm thế nào để giúp học viên đạt được khả năng giao tiếp hoàn hảo?
		
		%div{style:'padding-left:20px'}
		
			%p
				Cũng giống như phương pháp học truyển thống, encake.com lấy ngữ pháp làm nền tảng. Tuy nhiên, khác với phương pháp học truyền thống,
				encake.com không chỉ dừng lại ở việc hiểu ngữ pháp mà encake.com chú trọng vào việc sử dụng nhuần nhuyễn ngữ pháp.
				Trong suốt quá trình học, các điểm ngữ pháp sẽ liên tục được lồng ghép vào các mẫu câu một cách có hệ thống để giúp học viên có thể ôn luyện liên tục
				bằng cách đọc thuộc lòng các mẫu câu và đạt đến mức nhuần nhuyễn. Cho nên, khi đạt được các cấp độ cao với encake.com học viên sẽ có
				khả năng nói tiếng Anh lưu loát và chuẩn (ngữ pháp).
				
	
	%br
	%br