<div class='col-xs-12 main_content' id='points_page' infinite-scroll='load_more()' infinite-scroll-disabled  = 'searching || loading_more' infinite-scroll-distance='2' >
  
  <form class="form-inline" ng-submit='do_search()' novalidate >
    <div class='form-group'>
      <select class='form-control' ng-model='search.search_in'>
        <option value='all'> -- Tất Cả -- </option>
        <option value='user_bag'> Sổ Từ Của Tôi </option>
        <option value='added_by_user'> Thêm Bởi Tôi </option>
      </select>
    </div>
    <div class="form-group">
        <div class="input-group">          
          <input ng-model='search.content' placeholder="Từ Khóa" class="form-control" />
          <span class="input-group-btn">
            <button id="filter"
                    class="btn btn-primary"
                    x-show-spinner='searching'
                    x-track-action = "Find Words"
                    x-action-data='{{search.search_in + ":" + search.content}}'
            >
                <i class="fa fa-search"></i>
            </button>
          </span>          
      </div>
    </div>
    <a class="btn btn-info" ng-click='add_new_point()' x-track-action = "Add Word" >
      <i class="fa fa-plus" x-no-track-action ></i>
    </a>
  </form>
    
  <br/>
    
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="point in result.points track by point.id" >
        <td>
          <span>
            <span class='item-detail'>
              <strong class='calm'>{{point.content}}</strong>
              <span ng-show='point.pronunciation' class='item-detail'>/{{point.pronunciation}}/</span>
              <i ng-show='point.sound.has_data'
                 class='fa fa-volume-up pointer'
                 ng-click='play_sound(point.sound)'
                 style='font-size: 1.7em'
                 x-track-action="Listen Word" 
                 x-action-data="{{point.id}}"
              ></i>
            </span>
            <br/>
            <span>
              &nbsp;<i x-no-track-action ><small>({{point_types[point.point_type]}})</small></i>
              <span x-dynamic="point.meaning"></span>
            </span>
          </span>
          <br/>
          <span ng-show='point.main_example'>
            <span class='calm small'>{{point.main_example.content}}</span>
            <i ng-show='point.main_example.sound.has_data'
               class='fa fa-volume-up pointer'
               ng-click='play_sound(point.main_example.sound)'
               x-track-action="Listen Example" style='font-size: 1.7em'
               x-action-data="{{point.id}}"
            ></i>
            <br/>
            &nbsp;<span class='small'><i x-no-track-action >{{point.main_example.meaning}}</i></span>
          </span>
        </td>
        <td class="text-right text-nowrap">
          <button ng-click = "add_point_to_bag(point)"
                  x-show-spinner='adding_point.id == point.id'
                  ng-disabled='point.is_in_bag'
                  ng-class='point.is_in_bag ? "btn-disabled" : "btn-info"'
                  class="btn btn-xs"
                  x-track-action = "Add To Bag"
                  x-action-data="{{point.id}}"
          >
            <i class='fa fa-plus' x-no-track-action ></i>
          </button>
          <button ng-click = "remove_point_from_bag(point)"
                  x-show-spinner='removing_point.id == point.id'
                  ng-disabled='!point.is_in_bag'
                  ng-class='!point.is_in_bag ? "btn-disabled" : "btn-info"'
                  class="btn btn-xs"
                  x-track-action = "Remove From Bag"
                  x-action-data="{{point.id}}"
          >
            <i class='fa fa-minus' x-no-track-action  ></i>
          </button>
          <button ng-click= 'edit(point)' 
                  ng-disabled='point.adding_user_id != current_user.id'
                  ng-class='point.adding_user_id != current_user.id ? "btn-disabled" : "btn-info"'
                  class="btn btn-xs"
                  x-track-action = "Edit Word"
                  x-action-data="{{point.id}}"
          >
            <span class="fa fa-edit"></span>
          </button>
          <button ng-click= 'destroy(point)'
                  x-show-spinner='destroying_point.id == point.id'
                  ng-disabled='point.adding_user_id != current_user.id'
                  ng-class='point.adding_user_id != current_user.id ? "btn-disabled" : " btn-warning"'
                  class="btn btn-xs"
                  x-track-action="Destroy Word"
                  x-action-data="{{point.id}}"
          >
            <span class="fa fa-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class='text-center' ng-show='loading_more'>
    <i class='fa fa-spinner fa-spin icon-big' no-track-action ></i>
  </div>
  
</div>