<div class="col-xs-12 main_content" id="profile_page">
  <form ng-submit="submit()" class="form-horizontal" novalidate="novalidate" name="registerForm" server-validation-message-collector="user.validation_messages" >
    <fieldset>    
      <div class='form-group'>
        <label class='col-sm-4 control-label' for='last_name'>
          Họ & Tên
          <span class='required'>*</span>
        </label>
        <div class='col-sm-4'>
          <div class='row' style='margin: 0px'>
            <div class='col-xs-6 name_part'>
              <input id='last_name' name='last_name' reset-validation-message-on-change class="form-control full-width" ng-model="user.last_name" placeholder="Họ" autocomplete="off" />
              <div class="error-container" ng-show="registerForm.last_name.$invalid" ng-messages="registerForm.last_name.$error">
                <div class="error" ng-message="last_name">
                  <i class="fa fa-arrow-circle-up" x-no-track-action ></i> {{registerForm.last_name.$error.last_name}}
                </div>
              </div>
            </div>
            <div class='col-xs-6 name_part'>
              <input name='first_name' reset-validation-message-on-change ng-model="user.first_name" placeholder="Tên" autocomplete="off" class="form-control"  />
              <div class="error-container" ng-show="registerForm.first_name.$invalid" ng-messages="registerForm.first_name.$error">
                <div class="error" ng-message="first_name">
                  <i class="fa fa-arrow-circle-up" x-no-track-action ></i> {{registerForm.first_name.$error.first_name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='form-group'>
        <label class='col-sm-4 control-label' for='email'>
          Email
          <span class='required'>*</span>
        </label>
        <div class='col-sm-4'>
          <input id='email' name='email' reset-validation-message-on-change ng-model="user.email" placeholder="Email" autocomplete="off" class="form-control" />
          <div class="error-container" ng-show="registerForm.email.$invalid" ng-messages="registerForm.email.$error">
            <div class="error" ng-message="email">
              <i class="fa fa-arrow-circle-up" x-no-track-action ></i> {{registerForm.email.$error.email}}
            </div>
          </div>
        </div>
      </div>    
      <div class='form-group'>
        <div class='col-sm-4 col-sm-offset-4 text-center'>
          <button class="btn btn-primary" type="submit" x-show-spinner='registering' x-track-action='Register' >Đăng kí</button>          
        </div>
      </div>
    </div>
    </fieldset>
  </form>
</div>