<div ng-show='states.current_stage=="asking"' >
  
  <div ng-show='!states.show_reminding' >
    
    <div class='section alert alert-info review_title' >
      <span ng-show='current_point.point_type != "exp"' >Đọc lớn và nhẩm nghĩa từ này</span>
      <span ng-show='current_point.point_type == "exp"' >Đọc lớn và nhẩm nghĩa thành ngữ này</span>
    </div>
    
    <div class='section content' >
      <span x-show-point='current_point.split_content || current_point.content' ></span>
      <em class='point_type' ng-show='point_types[current_point.point_type]'>
        ( {{point_types[current_point.point_type]}} )
      </em>
      <div ng-show='current_point.main_example.content'>
        <em>{{current_point.main_example.content}}</em>
      </div>
    </div>
    
  </div>
  
  <div ng-show='states.show_reminding'
      class='section content alert alert-warning'
      ng-include src='"templates/review_point_example.html"'
  >
  </div>
  
</div>

<div ng-show='states.current_stage=="asserting"' >
  
  <div ng-show='!states.view_example' >
  
    <div class='alert alert-info review_title' >
      Đáp án
    </div>
    <div class='illustrating_image_section' >
      <div x-point-illustrating-images-shower x-point='current_point' ></div>
    </div>
    <div class='point_meaning_section content'>
      <span class='pron' ng-show='current_point.pronunciation' >/{{current_point.pronunciation}}/</span>
      <span class='meaning' x-dynamic="current_point.meaning" ></span>
    </div>

  </div>
  
  <div class='section content alert alert-warning'
       ng-show="states.view_example"
       ng-include src='"templates/review_point_example.html"'
  >
  </div>
  
</div>

<input x-add-property-to='review.asserting_questions' x-property-value='Bạn nhớ đúng phát âm và nghĩa?' x-property-name='interpret' type='hidden'/>