<%= @sender.email %> muốn cùng bạn thi đua học tiếng anh trên <%= Constants.domain %>. 
Hãy nhấn vào liên kết dưới đây để cùng tham gia.
<br/>
<br/>
<a href="<%= @url %>"><%= @url %></a>
<br/>
<br/>
<b>Lưu ý:</b> Nếu liên kết trên không nhấn được, bạn hãy dán nó trực tiếp vào thanh địa chỉ của trình duyệt.
